footer .marcas {
    text-align: center;
    padding: 5px;
}

footer .imagenes{
    padding: 5px;
    text-align: center;
}

footer img {
    width: 13%;
}

footer .footer-bottom {
    display: flex;
    background-color: black;
    padding: 5px;
    color: white;
    justify-content: space-around;
    text-align: center;
}

footer .contact{
    display: none;
}

footer .redes {
    display: flex;
    flex-direction: column;
} 

footer div h4, footer div {
    padding: 5px;
}