*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}



.carrito .titulo article{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
    
}

.carrito .titulo h1{

    padding: 5%;
    padding-bottom: 2%;
    color: black;
    font-size: 35px;
    padding-right: 8px;
    
    
}


.carrito .titulo span{
    
    font-size: 12px;
    
}

.carrito .titulo p {
    width: 130px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: var(--botonCeleste);
    margin: 5%;
    margin-top: 6px;
    box-shadow: 1px 3px rgb(165, 165, 165);
    border-radius: 5px;
}
:root{
    --botonCeleste: rgb(85, 153, 192);

}

.carrito .descuento {
    display: flex;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    /* border-radius: 10px; */
    padding: 2%;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: nowrap;
    
}
:root{
    --botonVerde: rgb(42, 163, 103);
}
.carrito .descuento input{
    background-color:var(--botonVerde);
    box-shadow: 1px 3px rgb(165, 165, 165);
    border-radius: 5px;
}

.carrito .descuento .boton input{
    background-color: white;
}
.carrito .principal{
    display: flex;
    justify-content: space-between;
   
}

.carrito .principal .productos .productos1 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* border-radius: 10px; */
    align-items: center;
    margin: 10px;
}


 
 .carrito .principal .productos .productos1 .img{
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-wrap: wrap;
    
}
.carrito .principal .productos .productos1 .img h4{
   text-align: center;
   padding-bottom: 20px;
}

.carrito .principal .productos .productos1  .form{
    display: flex;
    width:50%;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 3%;
    
    
    

}
.carrito .principal .productos .productos1 .form .descripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 12px;
    padding-left: 0px;
    margin: 0px;
    
}
.carrito .principal .productos .productos1 .form .descripcion1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 12px;
    padding-left: 0px;
    margin: 0px;
    
    
}


.carrito .principal .productos .productos1 .form .descripcion .talle1{
    width:60px;

}



.carrito .principal .productos .productos1 .form .descripcion .cantidad1{
    width:60px;
}



.carrito .principal .productos .productos1 .form .descripcion .total1{
width: 60px;
}




.carrito .principal .productos .productos1 .form  input{
    width: 60px;

}

.carrito .principal .productos .productos1 .form select{
    width:60px;
}
 

 


.carrito .principal .productos .productos1 .edicion{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 270px;
    align-items: flex-end;
    width: 25%;

}

.carrito .principal .productos .productos1 .edicion button{
    background-color: var(--botonCeleste);
    box-shadow: 1px 3px rgb(165, 165, 165);
    border-radius: 5px;
    margin: 10%;

}




.carrito .principal .productos .productos1 .trash i{
    
    border: 1px solid black;
    border-radius: 100%;
    padding: 5px;
    margin: 10%;
    
}

.carrito .principal .envioSubtotal .envio {
    display: flex;
    flex-direction: column;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* border-radius: 10px; */
    text-align: center;
    height: 160px;
    margin: 10px;
    justify-content: space-between;
    padding: 5%;
    

}

.carrito .principal .envioSubtotal .envio article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:  0 auto;
}
.carrito .principal .envioSubtotal .envio article div input{
    text-align: center;
    background-color: var(--botonVerde);
    margin-top: 20px;
    width: 100px;
    box-shadow: 1px 3px rgb(165, 165, 165);
    border-radius: 5px;
}


.carrito .principal .envioSubtotal .totalCompra {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  /*   border-radius: 10px; */
    text-align: center;
    padding-bottom: 30px;
    margin:10px;
    
    
}
.carrito .principal .envioSubtotal .totalCompra form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5%;
    
}

.carrito .principal .envioSubtotal .totalCompra button{
    text-align: center;
    background-color: var(--botonVerde);
    margin-top: 20px;
    width: 100px;
    box-shadow: 1px 3px rgb(165, 165, 165);
    border-radius: 5px;
}

.carrito .mediosDePago{
    text-align: center;
    padding: 5%;
    border-top: 8px solid black;
    border-bottom: 8px solid black;
}

.carrito .mediosDePago h2 {
    padding: 10px;

}

.carrito .mediosDePago h4{
    padding: 5%;
}

.carrito .mediosDePago img{
    width: 100%;

}


@media(max-width:768px){

    

   


    
    

}
   


@media screen and (max-width:992px ){

     
    
    

    .carrito .principal .envioSubtotal {
        display: none;
    }
    .carrito .descuento {
        display: none;
    }
    .carrito .principal .envioSubtotal .envio article div input{
        text-align: center;
        background-color: var(--botonVerde);
        margin-top: 20px;
        width: 100px;
        box-shadow: 1px 3px rgb(165, 165, 165);
        border-radius: 5px;
    }
    
    

    
.carrito .principal .productos .productos1 .form .descripcion .talle1{
    width:80px;

}



.carrito .principal .productos .productos1 .form .descripcion .cantidad1{
    width:80px;
}



.carrito .principal .productos .productos1 .form .descripcion .total1{
width: 80px;
}




.carrito .principal .productos .productos1 .form  input{
    width: 80px;

}

.carrito .principal .productos .productos1 .form select{
    width:80px;
}
 

   
    
        

}



