
.home main section{
    width: 95%;
    text-align: center;
}

.home .slider {
   
    width: 100%;
    overflow: hidden;
}

.home .slider ul {
    display: flex;
    width: 300%;
    animation: cambio 15s infinite alternate linear;
    
}
.home .slider li{
    width: 100%;
    list-style: none;
}
.home .slider img {
     width: 100%;
     height: 100%;
}
@keyframes cambio {
    0% { margin-left: 0;}
    33% { margin-left: 0;}

    45% {margin-left: -100%;}
    63% {margin-left: -100%;}

    70% {margin-left: -200%;}
    100% {margin-left: -200%;}

}

.home .slider h2  {
    display: inline-block;
    position: relative;
}
/*lanzamiento*/



.home .lanzamiento h1{
    margin: 30px;
    
   
}

.home .lanzamiento {
    margin: 0 auto;
}

.home .lanzamiento img{
    width:70%;
    height: 125px;
    margin: 5px;  
}

/*estilos de productos*/

.home .vistos {
    margin: 10px auto;

}

.home .vistos h2{
    margin: 30px;
}

.home .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5px;
    margin: 5px;
}

.home .product {
    border:1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.home .product img{
padding: 10px;
width: 100%;
height: 150px;
object-fit: cover;

}

.home .container h3 {
    text-align: center;
    margin: 10px;
}
.home .container span{
    color:#11728a;
    font-weight: bold;
    
}
.home .product .icon {
    display: block;
    margin-top: 10px 0;
}

@media screen and (min-width:768px){

    .home .lanzamiento img{
    
        width: 25%;
        height: 125px;
        margin: 5px 10px;
        
    }
    .home .container{
    
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(4, 2fr);
        grid-gap:5px;
    }
}
@media screen and (min-width:1000px){
    .home .lanzamiento img{
    
        width: 33%;
        height: 250px;
        margin: 5px auto;
        
    }
    .home .container{
    
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        grid-gap:10px;
    }

    .home .product img{
        padding: 10px;
        width: 100%;
        height: 250px;
        }

        .home .product .icon {
            font-size: 24px;
        }
}