<header>
    <nav>

        <div>
            <a href="/"><img src="/images/logo.png" alt="logo" class="logo"></a>
        </div>

        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">

            <div class="icon">
                <li><a href="login"><i class="far fa-user"></i></a></li>
                <li><a href="register"><i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="productCart"><i class="fas fa-shopping-cart"></i></a></li>
            </div>

            <li><a href="/">Home</a></li>
            <li><a href="#">Hombre</a></li>
            <li><a href="#">Mujer</a></li>
            <li><a href="productDetail">Tienda</a></li>
        </ul>
        
    </nav>
</header>