<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body class="home">
    <header>
        <nav>

            <div>
                <a href="index"><img src="/images/logo.png" alt="logo" class="logo"></a>
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>

            <ul class="menu">

                <div class="icon">
                    <li><a href="login"><i class="far fa-user"></i></a></li>
                    <li><a href="register"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="productCart"><i class="fas fa-shopping-cart"></i></a></li>
                </div>

                <li><a href="index">Home</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="productDetail">Tienda</a></li>
            </ul>
            
        </nav>
    </header>

    <main>
                        <div class="slider">
                            <ul>

                                <li><img src="/images/negra.jpg" alt=""></li>

                                <li><img src="/images/negra1.png" alt=""></li>
                                <li><img src="/images/negra2.png" alt=""></li>
                            </ul>
                        </div>

                        <section class="lanzamiento">
                            <h1>¿PARA QUIEN COMPRAS?</h1>
                            <div class="row">
                                <img src="/images/mujer1.jpg" alt="">

                                <img src="/images/hombre.jpg" alt="">
                                <img src="/images/nino.jpg" alt="">
                            </div>
                        </section>

                        <section class="vistos">
                            <h2>LOS MAS VISTOS</h2>
                            <div class="container">
                                <div class="product">
                                    <img src="/images/producto2.jpg" alt="">
                                    <div>
                                        <h3>prince</h3>
                                        <span>410000</span>
                                    </div>
                                    <i class="fas fa-cart-plus icon"></i>
                                </div>

                                <div class="product">
                                    <img src="/images/z1.webp" alt="">
                                    <div>
                                        <h3>prince</h3>
                                        <span>$10000</span>
                                    </div>
                                    <i class="fas fa-cart-plus icon"></i>
                                </div>

                                <div class="product">
                                    <img src="/images/producto2.jpg" alt="">
                                    <div>
                                        <h3>prince</h3>
                                        <span>$10000</span>
                                    </div>
                                    <i class="fas fa-cart-plus icon"></i>
                                </div>

                                <div class="product">
                                    <img src="/images/z3.webp" alt="">
                                    <div>
                                        <h3>prince</h3>
                                        <span>$10000</span>
                                    </div>
                                    <i class="fas fa-cart-plus icon"></i>
                                </div>
                            </div>
                        </section>
                        </main>

                        <footer>
                            
                            <section class="marcas">
                                <h1>MARCAS</h1>
                                <div class="imagenes">
                                    
                                   <img src="/images/adidas.png" alt="">
                                    <img src="/images/dc.png" alt="">
                                    <img src="/images/dc2.png" alt="">
                                    <img src="/images/Levis-logo.svg" alt="">
                           
                                    <img src="/images/tommy.png" alt="">
                                    
                                </div>
                            </section>


                            <section class="footer-bottom">

                                <div>
                                    <h4>Acerca de Ulmen</h4>
                                    <ul class="links">
                                        <li>Nosotros</li>
                                        <li>Sustentabilidad</li>
                                        <li>Empleo</li>
                                        <li>Meta y objetivos</li>
                                    </ul>
                                </div>

                                <div>
                                    <h4>Ayuda</h4>
                                    <ul class="links">
                                        <li>Cambios y Devoluciones</li>
                                        <li>Preguntas Frecuentes</li>
                                        <li>Envío y entrega</li>
                                    </ul>

                                </div>

                                <div>
                                    <h4 class="contact">Contacto</h4>
                                    <div class="redes">
                                        <div class="facebook"><i class="fab fa-facebook"></i></div>
                                        <div class="instagram"><i class="fab fa-instagram"></i></div>
                                        <div class="wsp"><i class="fab fa-whatsapp"></i></div>
                                    </div>

                                </div>


                            </section>
                            <section class="legal">
                                <p>Copyright © 2021 Ulmen S.A.I.C.e.I.</p>
                                <p>Información Legal</p>
                            </section>
                        </footer>
</body>

</html>