<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>

            <div>
                <img src="/images/logo.png" alt="logo" class="logo">
            </div>

            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            
            <ul class="menu">

                <div class="icon">
                    <li><a href="login.html"><i class="far fa-user"></i></a></li>
                    <li><a href="register.html"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="productCart.html"><i class="fas fa-shopping-cart"></i></a></li>
                </div>

                <li><a href="index.html">Home</a></li>
                <li><a href="#">Hombre</a></li>
                <li><a href="#">Mujer</a></li>
                <li><a href="productDetail.html">Tienda</a></li>
            </ul>
            
        </nav>
    </header>

    <main class=".home">
        

    </main>

    <footer>
        <section class="marcas"> <b> -MARCAS- </b></section>
        <div class="imagenes">
            <img src="/images/adidas.png" alt="adidas">
            <img src="/images/dc.png" alt="DC">
            <img src="/images/dc2.png" alt="DC2">
            <img src="/images/Levis-logo.svg" alt="Levis">
            <img src="/images/northface.png" alt="THENORTHFACE">
            <img src="/images/ripcurl.png" alt="ripcurl">
            <img src="/images/tommy.png" alt="TOMMY HILFIGER">

        </div>
        </section>

        <section class="footer-bottom">

            <div>
                <h4>Acerca de Ulmen</h4>
                <ul class="links">
                    <li>Nosotros</li>
                    <li>Sustentabilidad</li>
                    <li>Empleo</li>
                    <li>Meta y objetivos</li>
                </ul>
            </div>

            <div>
                <h4>Ayuda</h4>
                <ul class="links">
                    <li>Cambios y Devoluciones</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Envío y entrega</li>
                </ul>

            </div>

            <div>
                <h4 class="contact">Contacto</h4>
                <div class="redes">
                    <div class="facebook"><i class="fab fa-facebook"></i></div>
                    <div class="instagram"><i class="fab fa-instagram"></i></div>
                    <div class="wsp"><i class="fab fa-whatsapp"></i></div>
                </div>

            </div>
        </section>
    </footer>
</body>

</html>