<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="detail">
    <%- include('./partials/header') %>
<main>

<h1>productos</h1>

</main>


    <%- include('./partials/footer') %>
</body>

</html>